<div class="container">
  <div class="row text-center">
    <div class="col-lg-6 col-lg-offset-3">
      <h2><u>Edit Information Data</u></h2>
      <p class="text-center"><span>Leave field blank if you want nothing to be displayed</span></p>

      <%= form_for(@information) do |f| %> 
        <%= f.label :header_intro %>
        <%= f.text_field :header_intro , class: "form-control" %><br>

        <%= f.label :name %>
        <%= f.text_field :name , class: "form-control" %><br>

        <%= f.label :header_description %>
        <%= f.text_area :header_description , class: "form-control", style: "resize: none;", rows: "5" %><br>

        <%= f.label :header_button_left_text %>
        <%= f.text_field :header_button_left_text , class: "form-control" %><br>

        <%= f.label :header_button_left_link %>
        <label style="text-align: left;"><span id="red">Note: If you want to link to a section on the site, you must input the section with '#' in front of it. Example: #about<br>Sections available: #hero, #features, #about, #videos, #portfolio, #testimonials, #contact<br>Otherwise you can link to a webpage</span></label>
        <%= f.text_field :header_button_left_link , class: "form-control" %><br>

        <%= f.label :header_button_right_text %>
        <%= f.text_field :header_button_right_text , class: "form-control" %><br>

        <%= f.label :header_button_right_link %>
        <label style="text-align: left;"><span id="red">Note: If you want to link to a section on the site, you must input the section with '#' in front of it. Example: #about<br>Sections available: #hero, #features, #about, #videos, #portfolio, #testimonials, #contact<br>Otherwise you can link to a webpage</span></label>
        <%= f.text_field :header_button_right_link , class: "form-control" %><br>

        <%= f.label :header_image %>
        <%= f.file_field :header_image, accept: 'image/jpeg,image/gif,image/png', class: "form-control" %><br>
        <p><b>Current Header Image:</b><%= image_tag(@information.header_image? ? @information.header_image.url : asset_path('hero.jpg'), style: 'width: 100%') %></p><br>

        <%= f.label :features_title %>
        <%= f.text_field :features_title , class: "form-control" %><br>

        <%= f.label :features_left_title %>
        <%= f.text_field :features_left_title , class: "form-control" %><br>

        <%= f.label :features_left_text %>
        <%= f.text_area :features_left_text , class: "form-control", style: "resize: none;", rows: "5" %><br>

        <%= f.label :features_left_link_text %>
        <%= f.text_field :features_left_link_text , class: "form-control" %><br>

        <%= f.label :features_left_link %>
        <label style="text-align: left;"><span id="red">Note: If you want to link to a section on the site, you must input the section with '#' in front of it. Example: #about<br>Sections available: #hero, #features, #about, #videos, #portfolio, #testimonials, #contact<br>Otherwise you can link to a webpage</span></label>
        <%= f.text_field :features_left_link , class: "form-control" %><br>

        <%= f.label :features_left_icon %>
        <label style="text-align: left;"><span id="red">Note: You must select an icon from this <a href="http://fontawesome.io/icons/">page (font-awesome icons)</a>. Get the name of the icon and copy and paste it here. Example: user</span></label>
        <%= f.text_field :features_left_icon , class: "form-control" %><br>

        <%= f.label :features_middle_title %>
        <%= f.text_field :features_middle_title , class: "form-control" %><br>

        <%= f.label :features_middle_text %>
        <%= f.text_area :features_middle_text , class: "form-control", style: "resize: none;", rows: "5" %><br>

        <%= f.label :features_middle_link_text %>
        <%= f.text_field :features_middle_link_text , class: "form-control" %><br>

        <%= f.label :features_middle_link %>
        <label style="text-align: left;"><span id="red">Note: If you want to link to a section on the site, you must input the section with '#' in front of it. Example: #about<br>Sections available: #hero, #features, #about, #videos, #portfolio, #testimonials, #contact<br>Otherwise you can link to a webpage</span></label>
        <%= f.text_field :features_middle_link , class: "form-control" %><br>

        <%= f.label :features_middle_icon %>
        <label style="text-align: left;"><span id="red">Note: You must select an icon from this <a href="http://fontawesome.io/icons/">page (font-awesome icons)</a>. Get the name of the icon and copy and paste it here. Example: user</span></label>
        <%= f.text_field :features_middle_icon , class: "form-control" %><br>

        <%= f.label :features_right_title %>
        <%= f.text_field :features_right_title , class: "form-control" %><br>

        <%= f.label :features_right_text %>
        <%= f.text_area :features_right_text , class: "form-control", style: "resize: none;", rows: "5" %><br>

        <%= f.label :features_right_link_text %>
        <%= f.text_field :features_right_link_text , class: "form-control" %><br>

        <%= f.label :features_right_link %>
        <label style="text-align: left;"><span id="red">Note: If you want to link to a section on the site, you must input the section with '#' in front of it. Example: #about<br>Sections available: #hero, #features, #about, #videos, #portfolio, #testimonials, #contact<br>Otherwise you can link to a webpage</span></label>
        <%= f.text_field :features_right_link , class: "form-control" %><br>

        <%= f.label :features_right_icon %>
        <label style="text-align: left;"><span id="red">Note: You must select an icon from this <a href="http://fontawesome.io/icons/">page (font-awesome icons)</a>. Get the name of the icon and copy and paste it here. Example: user</span></label>
        <%= f.text_field :features_right_icon , class: "form-control" %><br>

        <%= f.label :about_title %>
        <%= f.text_field :about_title , class: "form-control" %><br>

        <%= f.label :about_description %>
        <%= f.text_area :about_description , class: "form-control", style: "resize: none;", rows: "10" %><br>

        <%= f.label :about_image %>
        <%= f.file_field :about_image, accept: 'image/jpeg,image/gif,image/png', class: "form-control" %><br>
        <p><b>Current About Image:</b><%= image_tag(@information.about_image? ? @information.about_image.url : asset_path('me.jpg'), style: 'width: 100%') %></p><br>

        <%= f.label :video_title %>
        <%= f.text_field :video_title , class: "form-control" %><br>

        <%= f.label :video_description_first %>
        <%= f.text_area :video_description_first , class: "form-control", style: "resize: none;", rows: "5" %><br>

        <%= f.label :video_description_last %>
        <%= f.text_area :video_description_last , class: "form-control", style: "resize: none;", rows: "5" %><br>

        <%= f.label :video_featured %>
        <%= f.text_field :video_featured , class: "form-control" %><br>

        <%= f.label :video_button_text %>
        <%= f.text_field :video_button_text , class: "form-control" %><br>

        <%= f.label :video_button_link %>
        <label style="text-align: left;"><span id="red">Note: If you want to link to a section on the site, you must input the section with '#' in front of it. Example: #about<br>Sections available: #hero, #features, #about, #videos, #portfolio, #testimonials, #contact<br>Otherwise you can link to a webpage</span></label>
        <%= f.text_field :video_button_link , class: "form-control" %><br>

        <%= f.label :portfolio_title %>
        <%= f.text_field :portfolio_title , class: "form-control" %><br>

        <%= f.label :portfolio_button_text %>
        <%= f.text_field :portfolio_button_text , class: "form-control" %><br>

        <%= f.label :portfolio_button_link %>
        <label style="text-align: left;"><span id="red">Note: If you want to link to a section on the site, you must input the section with '#' in front of it. Example: #about<br>Sections available: #hero, #features, #about, #videos, #portfolio, #testimonials, #contact<br>Otherwise you can link to a webpage</span></label>
        <%= f.text_field :portfolio_button_link , class: "form-control" %><br>

        <%= f.label :testimonial_image %>
        <%= f.file_field :testimonial_image, accept: 'image/jpeg,image/gif,image/png', class: "form-control" %><br>
        <p><b>Current Testimonial Image:</b><%= image_tag(@information.testimonial_image? ? @information.testimonial_image.url : asset_path('testimonial-cover.jpg'), style: 'width: 100%') %></p><br>

        <%= f.label :contact_title %>
        <%= f.text_field :contact_title , class: "form-control" %><br>

        <%= f.label :contact_description %>
        <%= f.text_field :contact_description , class: "form-control" %><br>

        <%= f.label :email %>
        <%= f.text_field :email , class: "form-control" %><br>

        <%= f.label :phone %>
        <%= f.text_field :phone , class: "form-control" %><br>

        <%= f.label :vimeo %>
        <%= f.text_field :vimeo , class: "form-control" %><br>

        <%= f.label :facebook %>
        <%= f.text_field :facebook , class: "form-control" %><br>

        <%= f.label :twitter %>
        <%= f.text_field :twitter , class: "form-control" %><br>

        <%= f.label :instagram %>
        <%= f.text_field :instagram , class: "form-control" %><br>

        <%= f.label :behance %>
        <%= f.text_field :behance , class: "form-control" %><br>

        <div class="col-lg-6">
          <%= f.submit "Update", class: "btn btn-success btn-lg", style: "margin-bottom: 30px;" %>
        </div>
        <div class="col-lg-6">
          <a href="/information" class="btn btn-danger btn-lg">Cancel</a>
        </div>

      <% end %>
    </div>
  </div>
</div>