<div class="container">
  <div class="row">
    <%= link_to "Go Back To Homepage", root_path, class: "btn btn-success", style: "margin-top: 20px;" %>
    <%= link_to "Go Back Edit Page", edit_path, class: "btn btn-warning", style: "margin-top: 20px;" %>
    <div class="model col-lg-12">
      <h2 class="text-center">Information Data</h2>
      <h1 class="text-center"><%= link_to "Edit", information_edit_path, class: "btn btn-fill btn-large" %></h1>
      <p><b>Header Intro:</b> <%= @information.header_intro %></p>
      <p><b>Name:</b> <%= @information.name %></p>
      <p><b>Header Description:</b> <%= @information.header_description %></p>
      <p><b>Header Left Button Text:</b> <%= @information.header_button_left_text %></p>
      <p><b>Header Left Button Link:</b> <%= @information.header_button_left_link %></p>
      <p><b>Header Right Button Text:</b> <%= @information.header_button_right_text %></p>
      <p><b>Header Right Button Link:</b> <%= @information.header_button_right_link %></p>
      <p><b>Header Image:</b></p>
      <%= image_tag(@information.header_image, style: "width: 50%;") %><br><br>
      <p><b>Feature Section Title:</b> <%= @information.features_title %></p>
      <p><b>Features Left Title:</b> <%= @information.features_left_title %></p>
      <p><b>Features Left Text:</b> <%= @information.features_left_text %></p>
      <p><b>Features Left Link Text:</b> <%= @information.features_left_link_text %></p>
      <p><b>Features Left Link:</b> <%= @information.features_left_link %></p>
      <p><b>Features Left Icon</b> <%= @information.features_left_icon %></p>
      <p><b>Features Middle Title:</b> <%= @information.features_middle_title %></p>
      <p><b>Features Middle Text:</b> <%= @information.features_middle_text %></p>
      <p><b>Features Middle Link Text:</b> <%= @information.features_middle_link_text %></p>
      <p><b>Features Middle Link:</b> <%= @information.features_middle_link %></p>
      <p><b>Features Middle Icon:</b> <%= @information.features_middle_icon %></p>
      <p><b>Features Right Title:</b> <%= @information.features_right_title %></p>
      <p><b>Features Right Text:</b> <%= @information.features_right_text %></p>
      <p><b>Features Right Link Text:</b> <%= @information.features_right_link_text %></p>
      <p><b>Features Right Link:</b> <%= @information.features_right_link %></p>
      <p><b>Features Right Icon:</b> <%= @information.features_right_icon %></p>
      <p><b>About Section Title:</b> <%= @information.about_title %></p>
      <p><b>About Me:</b> <%= @information.about_description %></p>
      <p><b>About Image:</b></p>
      <%= image_tag(@information.about_image, style: "width: 50%;") %><br><br>
      <p><b>Video Section Title:</b> <%= @information.video_title %></p>
      <p><b>Video Text First:</b> <%= @information.video_description_first %></p>
      <p><b>Video Text Last:</b> <%= @information.video_description_last %></p>
      <p><b>Featured Video Link:</b> <%= @information.video_featured %></p>
      <p><b>Video Section Button Text:</b> <%= @information.video_button_text %></p>
      <p><b>Video Section Button Link:</b> <%= @information.video_button_link %></p>
      <p><b>Testimonial Image:</b></p>
      <%= image_tag(@information.testimonial_image, style: "width: 50%;") %><br><br>
      <p><b>Contact Title:</b> <%= @information.contact_title %></p>
      <p><b>Contact Text:</b> <%= @information.contact_description %></p>
      <p><b>Phone:</b> <%= @information.email %></p>
      <p><b>Email:</b> <%= @information.phone %></p>
      <p><b>Vimeo Link:</b> <%= @information.vimeo %></p>
      <p><b>Facebook Link:</b> <%= @information.facebook %></p>
      <p><b>Twitter Link:</b> <%= @information.twitter %></p>
      <p><b>Instagram Link:</b> <%= @information.instagram %></p>
      <p><b>Behance Link:</b> <%= @information.behance %></p>
    </div>
  </div>
</div>