  <!-- Start Hero Section -->
  <section class="hero" id="hero" style="background-image: url(<%= @information.header_image? ? @information.header_image.url : asset_path('hero.jpg') %>)">
    <!-- Start Navigation Bar -->
    <section class="navigation">
      <header>
        <div class="header-content">
          <div class="logo"><a href="#hero"><%= image_tag("logo.png", alt:"Bejuloo") %></a></div>
          <div class="header-nav">
            <nav>
              <ul class="primary-nav">
                <li><a href="#hero">Home</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#about">About Me</a></li>
                <li><a href="#videos">Videos</a></li>
                <li><a href="#testimonials">Testimonials</a></li>
                <li><a href="#contact">Contact Me</a></li>
              </ul>
            </nav>
          </div>
          <div class="navicon">
              <a class="nav-toggle" href="#"><i class="fa fa-bars fa-3x" aria-hidden="true"></i></a>
          </div>
        </div>
      </header>
    </section>
    <!-- End navigation Bar -->
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="hero-content text-center">
              <p class="intro"><%= @information.header_intro %></p>
              <h1><%= @information.name %></h1>
              <p class="description"><%= @information.header_description %></p>
              <a href="<%= @information.header_button_left_link %>" class="btn btn-fill btn-large btn-margin-right" id="button1" target="blank"><%= @information.header_button_left_text %></a>
              <a href="<%= @information.header_button_right_link %>" class="btn btn-fill btn-large btn-margin-right" id="button2" target="blank"><%= @information.header_button_right_text %></a> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <!-- Start Features Section -->
  <section class="intro section-padding" id="features">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center" id="intro-header">
          <h2 id="intro-header-text"><u><b><%= @information.features_title %></b></u></h2>
        </div>
        <div class="col-md-4 intro-feature">
          <div class="intro-icon">
            <i class="fa fa-<%= @information.features_left_icon %> fa-3x bolt-icon" aria-hidden="true"></i>
          </div>
          <div class="intro-content">
            <h5><b><%= @information.features_left_title %></b></h5>
            <p><%= @information.features_left_text %> <a href="<%= @information.features_left_link %>" target="blank"><%= @information.features_left_link_text %></a></p>
          </div>
        </div>
        <div class="col-md-4 intro-feature">
          <div class="intro-icon">
            <i class="fa fa-<%= @information.features_middle_icon %> fa-3x clock-icon" aria-hidden="true"></i>
          </div>
          <div class="intro-content">
            <h5><b><%= @information.features_middle_title %></b></h5>
            <p><%= @information.features_middle_text %> <a href="<%= @information.features_middle_link %>" target="blank"><%= @information.features_middle_link_text %></a></p>
          </div>
        </div>
        <div class="col-md-4 intro-feature">
          <div class="intro-icon">
            <i class="fa fa-<%= @information.features_right_icon %> fa-3x users-icon" aria-hidden="true"></i>
          </div>
          <div class="intro-content last">
            <h5><b><%= @information.features_right_title %></b></h5>
            <p><%= @information.features_right_text %> <a href="<%= @information.features_right_link %>" target="blank"><%= @information.features_right_link_text %></a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Features Section -->

  <!-- Start About Section -->
  <section class="features section-padding text-center" id="about" style="background-image: url(<%= @information.about_image? ? @information.about_image.url : asset_path('me.jpg') %>)">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <div class="feature-list">
            <div class="text-center">
              <h3><b><%= @information.about_title %></b></h3>
            </div>
            <p><%= @information.about_description %></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- Start Video Section -->
  <section class="features-extra section-padding" id="videos">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div>
            <div class="text-center">
              <h3><b><%= @information.video_title %></b></h3>
            </div>
            <p><%= @information.video_description_first %></p>
            <p><%= @information.video_description_last %></p>
            <div class="text-center">
              <a href="<%= @information.video_button_link %>" target="blank" class="btn btn-fill btn-large" id="button1"><%= @information.video_button_text %></a>
            </div>
          </div>
        </div>
      </div>
      <div class="macbook-wrap wp3">
        <div class="text-center" id="vimeo-iframe">
          <iframe src="https://player.vimeo.com/video/<%= @information.video_featured.split('/').last %>" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
      <div class="responsive-feature-img text-center" id="vimeo-iframe-mobile">
        <iframe src="https://player.vimeo.com/video/<%= @information.video_featured.split('/').last %>" width="320" height="180" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </section>
  <!-- End Video Section -->

  <!-- Start Testimonials Section-->
  <section class="testimonial-slider section-padding text-center" id="testimonials" style="background-image: url(<%= @information.testimonial_image? ? @information.testimonial_image.url : asset_path('testimonial-cover.jpg') %>)">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="flexslider">
              <ul class="slides">
                <% @testimonials.each do |testimonial| %>
                  <li>
                    <h2><%= testimonial.quote %></h2>
                    <p class="author"><%= testimonial.source %></p>
                  </li>
                <% end%>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Testimonials Section -->

  <!-- Start Contact Section -->
  <section class="sign-up section-padding text-center" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h3><u><b><%= @information.contact_title %></b></u></h3>
          </div>
          <p><b><%= @information.contact_description %></b></p>
          <% unless @information.email.blank? %>
            <p><b>Email: </b><%= @information.email %></p>
          <% end %>
          <% unless @information.phone.blank? %>
            <p><b>Phone #: </b><%= @information.phone %></p>
          <% end %>
        </div>
        <div class="col-lg-6 col-lg-offset-3" id="contact-form">
          <b>(<span id="red">*</span> Fields Are Required)</b></p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

  <!-- Start Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-links">
            <ul class="footer-group">
              <% unless @information.behance.blank? %>
                <li><a href="<%= @information.behance %>" id="behance" target="_blank"><i class="fa fa-behance-square" aria-hidden="true"></i> Behance</a></li>
              <% end %>
              <% unless @information.vimeo.blank? %>
                <li><a href="<%= @information.vimeo %>" id="vimeo" target="_blank"><i class="fa fa-vimeo-square" aria-hidden="true"></i> Vimeo</a></li>
              <% end %><% unless @information.facebook.blank? %>
                <li><a href="<%= @information.facebook %>" id="facebook" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a></li>
              <% end %><% unless @information.twitter.blank? %>
                <li><a href="<%= @information.twitter %>" id="twitter" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
              <% end %><% unless @information.instagram.blank? %>
                <li><a href="<%= @information.instagram %>" id="instagram" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></li>
              <% end %>
              <li class="pull-left copyright"><a href="http://www.eric-gonzalez.com/" target="_blank">Copyright © <span id="yellow">Eric Gonzalez</span>, All Rights Reserved</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->